<div class="flex justify-evenly h-full bg-gray-500">
    <div class="mt-2">
        <p class="bg-gray-300 opacity-65 rounded p-2 hover:text-blue-600 cursor-pointer" (click)="goToNextPage('shadowees')">Looking for a job?</p>
    </div>
    <div
        class="inline-block h-full min-h-[1em] w-0.5 self-stretch bg-neutral-200 dark:bg-white/10 my-2">
    </div>
    <div class="mt-2">
        <p class="bg-gray-300 opacity-65 rounded p-2 hover:text-blue-600 cursor-pointer" (click)="goToNextPage('shadowees')">Looking to post content?</p>
    </div>
</div>